.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  display: flex;
  height: 84px;
  width: 34vw;
  align-items: center;
  justify-content: right;
  background-color: white;
  border-bottom: 3px solid #e5e5e5;
}

.headerContents {
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #007bff;
}

.mainContents {
  background-color: white;
  width: 34vw;
  margin: 84px 0px 84px 0px;
  height: calc(100vh - 84px - 84px);
  overflow: auto;
}

.registerPhoto {
  height: 15vh;
  border-bottom: 3px solid #e5e5e5;
  display: flex;
  justify-content: left;
  align-items: center;
}

.registerTitle {
  display: flex;
  height: 8vh;
  border-bottom: 3px solid #e5e5e5;
  align-items: center;
}
.title {
  margin: 0px 0px 0px 2rem;
  font-size: 1.3rem;
  width: 30vw;
  outline: none;
  overflow: auto;
  border: 0px;
  text-align: left;
}
.registerContent {
  height: calc(100vh - 84px - 84px - 15vh - 9vh - 5rem);
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.Input {
  width: 26vw;
  height: calc(100vh - 84px - 84px - 15vh - 10vh - 7rem);
  font-size: 1.3rem;
  flex-wrap: wrap;
  border: 0px;
  outline: none;
  overflow: auto;
}

.btnAction {
  display: flex;
  justify-content: right;
  margin-right: 1rem;
}

.submitBtn {
  border-radius: 50px;
  border: 3px solid #007bff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.submitBtn:hover {
  transition: all 0.3s;
  scale: 1.05;
}

@media (min-width: 280px) {
  .header {
    width: 100%;
  }
  .mainContents {
    width: 100%;
  }
  .title {
    font-size: 1rem;
    width: 80%;
  }
  .Input {
    font-size: 1rem;
    width: 80%;
  }
}

@media (min-width: 430px) {
  .header {
    width: 34vw;
    min-width: 430px;
  }
  .mainContents {
    width: 34vw;
    min-width: 430px;
  }
  .title {
    width: 30vw;
    min-width: 356px;
  }
  .Input {
    min-width: 356px;
  }
}
