.footer {
  position: fixed;
  display: flex;
  bottom: 0px;
  height: 84px;
  width: 430px;
  /* min-width: 430px; */
  /* min-height: 84px; */
  /* align-items: center;
  justify-content: center; */
  background-color: white;
  border-top: 3px solid #e5e5e5;
  margin: 0 auto;
}

.contents {
  /* min-width: 430px; */
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contents li {
  cursor: pointer;
}

.contents li:hover {
  color: #007bff;
}

@media (min-width: 280px) {
  .footer {
    width: 100%;
  }
  .contents{
    width:100%;
  }
}
@media (min-width: 430px) {
  .footer {
    width: 34vw;
    min-width: 430px;
  }
  .contents{
    width:34vw;
    min-width: 430px;
  }
}