.header {
  position: fixed;
  display: flex;
  height: 108px;
  width: 34vw;
  min-width: 430px;
  align-items: center;
  justify-content: right;
  background-color: white;
  border-bottom: 3px solid #e5e5e5;
}

.contents {
  min-width: 430px;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
